.category {
    border:1px solid #e22;
}

.responseList {
    border:1px solid #e22;
}

.responseList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.responseList li {
    padding: 10px;
    list-style-type: none;
    text-align: left;
    margin-bottom: 5px;
}